[submodule "imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "libsoundio"]
	path = deps/libsoundio
	url = https://github.com/andrewrk/libsoundio
[submodule "glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
	branch = 3.3-stable
