[submodule "imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
	branch = 3.3-stable
[submodule "deps/AnaMark-Tuning-Library"]
	path = deps/AnaMark-Tuning-Library
	url = https://github.com/zardini123/AnaMark-Tuning-Library
[submodule "deps/tuning-library"]
	path = deps/tuning-library
	url = https://github.com/surge-synthesizer/tuning-library
