:root {
    --text-color: white;
    --bg-color: #040410;
    --clickable-bg-default: #393e4f;
    --clickable-bg-hover: #444a5c;
    --clickable-bg-active: #585f75;
    --highlight-color: #725491;
    --button-height: 25px;
}

.content-row {
    flex: 1 1 auto;
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}

#container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

body {
    user-select: none;
    background-color: black;
    font-size: 14px;
    margin: 0;

    color: white;
    font-family: monospace;
}

.panel {
    display: inline-block;
    padding: 10px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: var(--bg-color);
    color: white;
    flex: 0 0 auto;

    /*
    width: 180px;
    height: 400px;
    */
}

.panel div {
    margin-top: 4px;
    margin-bottom: 4px
}

.panel-title {
    text-align: center;
}

#settings-panel {
    width: 180px;
}

#instrument-panel {
    width: 180px;
}

#song-panel {
    flex-grow: 1;
    flex-shrink: 1;
    background-color: gray;
    padding: 0;
}

#track-editor, #pattern-editor {
    position: absolute;
}

#pattern-panel {
    flex-grow: 1;
    flex-shrink: 1;
    background-color: gray;
    padding: 0;
}

button, select {
    appearance: none;
    border: none;
    border-radius: 5px;
    background-color: var(--clickable-bg-default);
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    padding-top: 0;
    padding-bottom: 0;
    height: var(--button-height);
    padding-left: 10px;
    padding-right: 10px;
}

button:hover, select:hover {
    background-color: var(--clickable-bg-hover);
}

button:active {
    background-color: var(--clickable-bg-active);
}

select:active {
    outline: none;
    background-color: #585f75;
}

select:focus {
    outline: none;
}

#playback-controls {
    display: flex;
    flex-direction: row;
}

#playback-controls button {
    flex: 1 1 auto;
    margin-left: 2px;
    margin-right: 2px;
}

.row-option {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.label {
    font-size: 14px;
}

.row-option .row-item {
    flex: 1 1 auto;
    width: 0;
    margin: 0;
}

input[type="number"] {
    appearance: none;
    background-color: black;
    color: white;
    font-size: inherit;
    font-family: inherit;
    border: solid 1px #222222;
    height: var(--button-height);
    outline: none;
}